extends layout

block content
	a(href="/queues") Back to queues
	h1= title

	table(class="table table-striped table-bordered")
		tr
			td messageid
			td insertiontime
			td expirationtime
			td dequeuecount
			td messagetext
		each message in messages
			tr
				td #{message.messageid}
				td #{message.insertiontime}
				td #{message.expirationtime}
				td #{message.dequeuecount}
				td #{message.messagetext}